# Maven build output
target/

# IDE files
.idea/
*.iml
.settings/
.project
.classpath
.factorypath

# OS files
Thumbs.db
.DS_Store

# Sensitive configuration local override
application.properties

# vcode
.vscode